.dashboard-bg {
  background: url("https://images.unsplash.com/photo-1581092919535-7146ff1f8b29")
    no-repeat center center/cover;
  min-height: 100vh;
  padding: 40px;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  padding: 40px;
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.add-btn {
  padding: 10px 20px;
  background: #00c896;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  background: white;
  color: black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  color: black;
}

.slide-up {
  animation: slideUp 0.4s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.close-btn {
  background: red;
  color: white;
}
